<p id="notice"><%= notice %></p>

<p>
  <b>Created:</b>
  <%= @charge.created %>
</p>

<p>
  <b>Paid:</b>
  <%= @charge.paid %>
</p>

<p>
  <b>Amount:</b>
  <%= @charge.amount %>
</p>

<p>
  <b>Currency:</b>
  <%= @charge.currency %>
</p>

<p>
  <b>Refunded:</b>
  <%= @charge.refunded %>
</p>

<p>
  <b>Customer:</b>
  <%= @charge.customer_id %>
</p>


<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
